@import 'getFonts';
@import 'fonts';
.test {
  text-align: center;
  &__box {
    margin: 10px;
  }
}
body {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}
h2 {
  width: 100%;
  text-align: center;
  display: block;
  padding: 50px;
}
h1 {
  color: red;
  font-family: 'Noto Sans Mono';
}
.test {
  color: pink;
}